<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> <%= fruit.name  %> </title>
  </head>
  <body>
    <a href="/fruits/">Back to Fruits</a>
    <!-- <h1>Here Is Your Fruit</h1> -->
    <h1><%= fruit.name %></h1>
    <% if (fruit.isReadyToEat) { %>
        <p>This fruit is ready to eat!</p>
    <% } else { %>
        <p>This fruit is not ready to eat!</p>
    <% } %>

    <a href="/fruits/<%= fruit._id %>/edit">Edit <%= fruit.name %></a>
    
    <form action="/fruits/<%= fruit._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= fruit.name %></button>
    </form>
  </body>
</html>